/*     Site Content     */
main .site-content{
    display: grid;
    grid-template-columns: 70% 30%;
}
main .post-content{
    width: 100%;
}
main .site-content .post-content > .post-image, .post-title{
    padding: 1rem 2rem;
    position: relative;
}
main .site-content .post-content > .post-image .post-info{
    background: var(--sky);
    padding: 1rem;
    position: absolute;
    bottom: 0%;
    left: 20vw;
    border-radius: 3rem;
}
main .site-content .post-content > .post-image > div{
    overflow: hidden;
}
main .site-content .post-content > .post-image .img{
    width: 100%;
    transition: all 1s ease;
}
main .site-content .post-content > .post-image .img:hover{
    transform: scale(1.3);
}
main .site-content .post-content > .post-image .post-info span{
    margin: 0 .5rem;
}
main .post-content .post-title a{
    font-family: Rockwell, serif;
    font-size: 1.5rem;
}
.site-content .post-content .post-title .post-btn{
    border-radius: 0;
    padding: .7rem 1.5rem;
    background: var(--sky);
}
.site-content .pagination{
    justify-content: center;
    color: var(--text-gray);
    margin: 4rem 0;
}
.site-content .pagination a{
    padding: .6rem .9rem;
    border-radius: 2rem;
    margin: 0 .3rem;
    font-family: Rockwell, serif;
}
.site-content .pagination .pages{
    background: var(--text-gray);
    color: var(--white);
}
/*     Site Content     */
/*     Sidebar     */
.site-content > .sidebar .category-list{
    font-family: Rockwell, serif;
}
.site-content > .sidebar .category-list .list-items{
    background: var(--sky);
    padding: .4rem 1rem;
    margin: .8rem 0;
    border-radius: 3rem;
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.site-content > .sidebar .category-list .list-items a{
    color:  black;
}
.site-content .sidebar .popular-post .post-content{
    padding: 1rem 0;
}
.site-content .sidebar .popular-post h2{
    padding-top: 8rem;
}
.site-content .sidebar .popular-post .post-info{
    padding: .4rem .1rem !important;
    bottom: 0rem !important;
    left: 1.5rem !important;
    border-radius: 0rem !important;
    background: white !important;
}
.site-content .sidebar .popular-post .post-title a{
    font-size: 1rem;
}
.site-content .sidebar .newsletter{
    padding-top: 10rem;
}
.site-content .sidebar .newsletter .form-element{
    padding: .5rem 2rem;
}
.site-content .sidebar .newsletter .input-element{
    width: 80%;
    height: 1.9rem;
    padding: .3rem .5rem;
    font-family: Rockwell, serif;
    font-size: 1rem;
}
.site-content .sidebar .newsletter .form-btn{
    border-radius: 0;
    padding: .8rem 32%;
    margin: 1rem 0;
    background: var(--sky);
}
.site-content .sidebar .popular-tags{
    padding: 5rem 0;
}
.site-content .sidebar .popular-tags .tags .tag{
    background: var(--sky);
    padding: .4rem 1rem;
    border-radius: 3rem;
    margin: .4rem .6rem;
}
/*     Sidebar     */
@media only screen and (max-width: 767px) {
    main .site-title {
        background: url("../images/background-image-2.png") no-repeat;
    }
    main .carousel {
        background: url("../images/abstract-2.png") no-repeat right;
    }
}
@media only screen and (max-width: 750px) {
    main .site-content {
        grid-template-columns: 100%;
    }
    footer.footer .container {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (max-width: 1130px){
    .site-content .post-content > .post-image .post-info{
        left: 2rem !important;
        bottom: 1.2rem !important;
        border-radius: 0% !important;
    }
    .site-content .sidebar .popular-post .post-info{
        display: none !important;
    }
    footer.footer .container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 520px) {
    .site-content .post-content > .post-image .post-info{
        display: none;
    }
    main .carousel {
        height: 125vh;
    }
}
html, body {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
:root {
    /*    Theme Colors*/
    --text-gray: #3f4954;
    --text-light:#686666da;
    --bg-color:#0f0f0f;
    --white:#ffffff;
    --midnight: #104f55;
    /*    Gradient Colors*/
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
/*     Global Classes     */
a {
    text-decoration: none;
    color: var(--text-gray);
}
ul {
    list-style-type: none;
}
.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
h1 {
    font-family: Kailasa, serif;
    font-size: 2.5rem;
}
h2 {
    font-family: Athelas, serif;
}
h3 {
    font-family: Rockwell, serif;
    font-size: 1.3rem;
}
button .btn {
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    /*font-family: Kailasa, serif;*/
    cursor: pointer;
}
span {
    font-family: Rockwell, serif;
}
.container {
    margin: 0 5vw;
}
.text-gray {
    color: var(--text-gray);
}
p{
    font-family: Rockwell, serif;
    color: var(--text-light);
}
/*     Global Classes     */
/*     Header     */
main .site-title {
    background: url("../images/background-image-2.png") no-repeat center center;
    /*background-attachment: fixed;
    use if you want the image to stay and roll up while scrolling up
    */
    background-size: cover;
    height: 110vh;
    justify-content: center;
}
main .site-title .site-background {
    padding-top: 10rem;
    text-align: left;
    color: var(--white);
}
main .site-title h1, h3 {
    margin: .3rem;
    bottom: 3rem;
}
main .site-title .btn {
    margin: 1.8rem;
    background: var(--sky);
}
main .site-title .btn:hover {
    background: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}
/*     Header     */
/*     Slider     */
main .carousel {
    background: url("../images/abstract-2.png") no-repeat right;
    height: 100vh;
    width: 100%;
    background-size: 65%;
}
main .carousel .spinner-post {
    padding-top: 6rem;
}
main .spinner-post .spinner-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    height: 400px;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0,0,0,0.2);
}
main .spinner-content .spinner-title {
    padding: 2rem 0;
}
main .spinner-content .btn-spinner {
    padding: .7rem 2rem;
    background: var(--sky);
    margin: .5rem;
}
main .spinner-content span {
    display: block;
}
section .container .owl-nav {
    position: absolute;
    top: 0%;
    margin: 0 auto;
    width: 100%;
}
.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next {
    color: var(--text-gray);
    background: transparent;
    font-size: 2rem;
}
.owl-theme .owl-nav [class*='owl-']:hover {
    background: transparent;
    color: var(--midnight);
}
.owl-theme .owl-nav [class*='owl-'] {
    outline: none;
}
/*     Slider     */
