body {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
/*    Theme Colors*/
    --text-gray:#3f4954;
    --text-light:#686666da;
    --bg-color:#0f0f0f;
    --white:#ffffff;
    --midnight:#104f55;

/*    Gradient Colors*/
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

}

/*     Global Classes     */

a {
    text-decoration: none;
    color: var(--text-gray);
}

ul {
    list-style-type: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*     Global Classes     */

/*     NavBar     */

.nav {
    background: white;
    padding: 0 2rem;
    height: 0;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-menu {
    justify-content: space-between;
}

.nav .toggle-collapse {
    position: absolute;
    top: 0;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons img {
    font-size: 1.4rem;
    color: var(--text-gray);
}

.collapse {
    height: 30rem;
}

.nav .nav-items {
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link {
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: Palatino, serif;
}

.nav .nav-items .nav-link:hover {
    background-color: darkred;
    cursor: pointer;
}

.nav .nav-items .nav-link:hover a {
    color: var(--white);
    cursor: pointer;
}

.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: Verdana, serif;
}

.nav .social {
    padding: 1.4rem 0;

}

.nav .social img {
    padding: 0 .2rem;
}

.nav .social img:hover {
    color: #a1c4cf;
    cursor: pointer;
}

/*     NavBar     */

@media only screen and (max-width: 750px) {
    .nav .nav-menu, .nav .nav-items {
        flex-direction: column;
    }


    .nav .toggle-collapse {
        display: initial;
    }
}
